			body{
				background-color: red; 
			}
			header{
				background-color: orange; 
			}
			section{
				background-color: yellow;
			}

			#img{
				background-color: white;
				width:320px;
				height:500px;
				right: 1500px;
				position: absolute; 
				top: 700px;
			#nav{
				background-color: red;
				box-shadow: 7px 7px 9px 0px black;
			}
			#main{
				background-color: orange; 
			}
				
			#nome{
				font-weight: bold;	
				font-size: 17px;
				text-align: center;
			}
			#nome1{
				font-size: 17px;
				text-align: center;
			}
			#tres{
				background-color: yellow; 
			}
			#meio{
				background-color: red; 
			}
			#um{
				background-color: orange; 
			}
			#dois{
				background-color: yellow; 
			}
			#quatro{
				background-color: red; 
			}
				#e{
           			font-size: 25px;
				text-align: center;
			}
